@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_CommonLayout2.cshtml";
}


@* <div class="card mt-4">
    <div class="card-header">
        <h4>Doctor Dashboard</h4>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <!-- View Appointments -->
            <div class="col-md-4 text-center">
                <button class="btn btn-primary btn-lg">View Appointments</button>
            </div>

            <!-- Update Availability (Schedule) -->
            <div class="col-md-4 text-center">
                <button class="btn btn-warning btn-lg">Update Availability</button>
            </div>

            <!-- Write Prescriptions -->
            <div class="col-md-4 text-center">
                <button class="btn btn-success btn-lg">Write Prescription</button>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <h5>Write Prescription</h5>
            </div>
        </div>

        <div class="row mb-3">
            <!-- Patient ID -->
            <div class="col-md-6">
                <label>Patient ID</label>
                @Html.TextBox("PatientID", null, new { @class = "form-control", placeholder = "Enter Patient ID" })
            </div>

            <!-- Medicine Name -->
            <div class="col-md-6">
                <label>Medicine Name</label>
                @Html.TextBox("MedicineName", null, new { @class = "form-control", placeholder = "Enter Medicine Name" })
            </div>
        </div>

        <div class="row mb-3">
            <!-- Dosage -->
            <div class="col-md-6">
                <label>Dosage</label>
                @Html.TextBox("Dosage", null, new { @class = "form-control", placeholder = "Enter Dosage" })
            </div>

            <!-- Duration -->
            <div class="col-md-6">
                <label>Duration</label>
                @Html.TextBox("Duration", null, new { @class = "form-control", placeholder = "Enter Duration" })
            </div>
        </div>

        <div class="row mb-3">
            <!-- Recommended Referral Department (Auto-populated) -->
            <div class="col-md-12">
                <label>Recommended Referral Department</label>
                @Html.TextBox("ReferralDepartment", Model.Department, new { @class = "form-control", readonly = "readonly" })
            </div>
        </div>

        <div class="row mb-3">
            <!-- Advice -->
            <div class="col-md-12">
                <label>Advice</label>
                @Html.TextArea("Advice", null, new { @class = "form-control", placeholder = "Enter Additional Advice", rows = "3" })
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg">Submit Prescription</button>
        </div>
    </div>
</div> *@




 <div class="card mt-4">
    <div class="card-header">
        <h4>Doctor Dashboard</h4>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <!-- View Appointments -->
            <div class="col-md-4 text-center">
                <button class="btn btn-primary btn-lg">View Appointments</button>
            </div>

            <!-- Update Availability (Schedule) -->
            <div class="col-md-4 text-center">
                <button class="btn btn-warning btn-lg">Update Availability</button>
            </div>

            <!-- Write Prescriptions -->
            <div class="col-md-4 text-center">
                <button class="btn btn-success btn-lg">Write Prescription</button>
            </div>
        </div>

        


    </div>
</div> 